doctype
html
  head
    link(rel="stylesheet" href="main.css")
  body
    #head
      h1 Welcome to Here.
      //a(href="http://twitter.com/boondaburrah").hlink twitter
      //a(href="http://github.com/boondaburrah").hlink github
    != yield